@using SponsorY.DataAccess.ModelsAccess.Youtube;
@model IEnumerable<YoutuberAwaitTransactionViewModel>

@{
	ViewData["Title"] = "Transaction history";
}
<partial name="_TempData" />
<h1> Completed sponsorships</h1>

<table class="table table-bordered table-hover" style="width:100%">
	<thead class="text-muted">
		<tr>
			<th scope="col">
				Product 
			</th >
			<th scope="col">
				Company Name
			</th >
			<th scope="col">
				Product Name
			</th>
			<th scope="col">
				Requestet numbers of clips
			</th>
			<th scope="col">
				Money offer
			</th>
			<th > Status </th>
		</tr>
	</thead>
	<tbody class="text-muted">
		@foreach (var ch in Model)
		{
					<tr class="table-info text-muted text-center">
						<td>
							<img src="@ch.ProductUrl">
						</td>
						<td>
							<center>@ch.CompanyName </center>
						</td>
						<td>
							<center>@ch.Product</center>
						</td>
						<td>
							<center>@ch.QuntityClips</center>
						</td>
						<td>
							<center>@ch.MoneyOffer</center>
						</td>
						<td>
							Completed
						</td>
					</tr>
		}
	</tbody>
</table>