@using SponsorY.DataAccess.ModelsAccess;
@model IEnumerable<YoutuberAwaitTransactionViewModel>

@{
	ViewData["Title"] = "Awaiting transactions";
}
<partial name="_TempData" />
<h1>Sponsorships offered:</h1>

<table class="table table-bordered table-hover" style="width:100%">
	<thead class="text-muted">
		<tr>
			<th scope="col">
				Product 
			</th >
			<th scope="col">
				Company Name
			</th >
			<th scope="col">
				Product Name
			</th>
			<th scope="col">
				Requestet numbers of clips
			</th>
			<th scope="col">
				Money offer
			</th>
			<th ></th>
		</tr>
	</thead>
	<tbody class="text-muted">
		@foreach (var ch in Model)
		{
				<tr class="table-info text-muted text-center">
					<td>
						<img src="@ch.ProductUrl">
					</td>
					<td>
						<center>@ch.CompanyName </center>
					</td>
					<td>
						<center>@ch.Product</center>
					</td>
					<td>
						<center>@ch.QuntityClips</center>
					</td>
					<td>
						<center>@ch.MoneyOffer</center>
					</td>
					<td>
						<div class="w-75 btn-group" role="group">
						<a class="btn btn-success" asp-area="Youtube" asp-controller="Youtuber" asp-action="Accept" asp-route-TransId="@ch.TransactionId"><i class="bi bi-bookmark-check"></i> Accept</a>
						</div>
						<div class="w-75 btn-group" role="group">
						<a class="btn btn-danger" asp-area="Youtube" asp-controller="Youtuber" asp-action="Denial" asp-route-TransId="@ch.TransactionId"><i class="bi bi-bookmark-x"></i> Denial</a>
						</div>
					</td>
				</tr>
		}
	</tbody>
</table>