@model AddSponsorViewModel

@{
    ViewData["Title"] = "Add new sponsorship";
}

<div class="row">
    <div class="col-md-4 offset-md-4">
        <form method="post">
            <h2 class="text-muted">Add Chanel</h2>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="text-center mb-3">
                <label asp-for="@Model.CompanyName">CompanyName</label>
                <input class="form-control " autocomplete="CompanyName" aria-required="true" asp-for="@Model.CompanyName" />
                <span asp-validation-for="@Model.CompanyName" class="text-danger"></span>
            </div>
            <div class="text-center mb-3">
                <label asp-for="@Model.Url">Url for picture of the product</label>
                <input class="form-control " autocomplete="Url" aria-required="true" asp-for="@Model.Url" />
                <span asp-validation-for="@Model.Url" class="text-danger"></span>
            </div>
            <div class="text-center mb-3">
                <label asp-for="@Model.Product">Product Name</label>
                <input class="form-control" type="text" autocomplete="Subscribers" aria-required="true" asp-for="@Model.Product" />
                <span asp-validation-for="@Model.Product" class="text-danger"></span>
            </div>
            <div class="text-center mb-3">
                <label asp-for="@Model.Wallet">Add budget for sponsorship</label>
                <input class="form-control" type="number" autocomplete="PricePerClip" aria-required="true" asp-for="@Model.Wallet" />
                <span asp-validation-for="@Model.Wallet" class="text-danger"></span>
            </div>
            <div class="list-group mb-3 text-center">
                <label asp-for="@Model.CategoryId" class="form-label">Select category:</label>
                <select asp-for="@Model.CategoryId" class="form-control">
                    @foreach (var category in Model.Categories)
                    {
                        <option class="list-group" value="@category.Id">@category.CategoryName</option>
                    }
                </select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <div class="text-center">
                <button id="registerSubmit" type="submit" class="btn btn-primary text-muted">Register</button>
                <a asp-controller="Sponsorship" asp-action="Main" class="btn btn-primary text-muted">Back to List</a>
            </div>
            
        </form>
    </div>
</div>
