@model IEnumerable<SponsorViewModel>

@{
	ViewData["Title"] = "Sponsorship";
}

<partial name="_TempData" />
<h1>Your sponsorships</h1>

<div class="container p-3">
	<div class="row pt-4">
		<div class="text-muted">
			<a asp-controller="Sponsorship" asp-action="Add" class="btn btn-primary">
				<div class="text-muted"> <i class="bi bi-plus-circle"></i> Add Sponsorship</div>
			</a>
		</div>
	</div>
</div>

<div class="text-center row">
	@foreach (var spon in Model)
	{
		<div class="card col-4" style="width: 20rem; ">
			<img class="card-img-top" style="width: 18rem;"
			 src="@spon.Url" alt="Product">
			<div class="card-body">

				<h5 class="card-title mt-1">@spon.CompanyName</h5>
				<p class="mb-0">Product name: @spon.Product</p>
				<p class="mb-0">Category search: @spon.CategoryName</p>
				<p class="mb-0">Budget: @spon.Wallet <i class="bi bi-currency-dollar"></i></p>
				<div class="w-75 btn-group" role="group">
					<a class="btn btn-primary text-muted" asp-controller="Sponsorship" asp-action="Edit" asp-route-EditId=@spon.Id><i class="bi bi-pencil-square"></i> Edit</a>
				</div>
				<div class="w-75 btn-group" role="group">
					<a class="btn btn-primary text-muted" asp-controller="Transaction" asp-action="Find" asp-route-SponsorId=@spon.Id><i class="bi bi-youtube"></i> Find chanel</a>
				</div>
				<div class="w-75 btn-group" role="group">
					<a class="btn btn-primary text-muted" asp-controller="Sponsorship" asp-action="Delete" asp-route-DelteId=@spon.Id><i class="bi bi-x-circle"></i> Delete</a>
				</div>
				
			</div>
		</div>
	}
</div>