@model TransactionViewModel

@{
	ViewData["Title"] = "Details";
}

<form method="post">
	<br />
	<div class="container">
		<div class="card">
			<div class="card-header bg-dark text-light ml-0">
				<div class="row">
					<div class="col-6  pt-2 text-muted">
						<i class="fa fa-shopping-cart"></i> &nbsp;
						Requiest Sponsorship
					</div>
					<div class="col-6 text-end">
						<a class="btn btn-outline-info btn-secondary" asp-controller="Transaction" asp-action="Find" asp-route-ChanelId=@Model.ChanelId asp-route-SponsorId=@Model.SponsorId> Back</a>
					</div>
				</div>
			</div>

			<div class="card-body">
				<div class="row">
					<div class="d-none d-lg-block col-lg-1 text-center py-2">
						<a href="@Model.ChanelUrl" method="get"><img src=/Pic/YoutubLogo.jpg alt="Youtubers" width="100" height="100" /> </a>
					</div>
					<div class="col-12 col-lg-6 pt-md-3">
						<h5 class="card-title mt-1">Youtube chanel - @Model.ChanelName</h5>
						<p class="mb-0">Subscribers: @Model.Subscribers</p>
						<p class="mb-0">Price per clip: @Model.PricePerClip <i class="bi bi-currency-dollar"></i></p>
					</div>
					<div class="col-12  col-lg-5 text-center row">
						<div class="col-4 text-md-right pt-4">
							<h6><strong>$@Model.PricePerClip<span class="text-muted"> x </span> @Model.QuantityClips </strong></h6>
						</div>
						<div class="col-6 col-sm-4 col-lg-6 pt-2">
							<div class="w-75 btn-group" role="group">
								<a asp-action="Plus" asp-route-TranslId=@Model.TransactionId  class ="btn btn-primary">
									<i class="bi bi-plus-square"></i>
								</a> &nbsp;
								<a asp-action="Minus" asp-route-TranslId=@Model.TransactionId class="btn btn-warning">
									<i class="bi bi-dash-square"></i>
								</a>
							</div>

						</div>
					</div>
				</div>
				<hr />

				<div class="card-body">
					<div class="row">
						<div class="d-none d-lg-block col-lg-1 text-center py-2">
							<img src=@Model.CompanyUrl alt="CompanyUrl" width="100" height="100" />
						</div>
						<div class="col-12 col-lg-6 pt-md-3">
							<h5 class="card-title mt-1">Sponsorship company - @Model.CompanyName</h5>
							<p class="mb-0">Product: @Model.Product</p>
							<p class="mb-0">Budget for sponsorship: @Model.CompanyBudget <i class="bi bi-currency-dollar"></i></p>
						</div>
					</div>
					<hr />

					<div class="row">
						<div class="col-12 col-md-6 offset-md-6 col-lg-4 offset-lg-8 pr-4">
							@if (Model.CompanyBudget < Model.TotalPrice)
							{
								<h4 class="text-bg-danger"> This is more than your budget!</h4>
							}
							<ul class="list-group">
								<li class="list-group-item d-flex justify-content-between bg-light">
									<span class="text-info"> Total (USD)</span>
									<strong class="text-info">@Model.TotalPrice.ToString() $</strong>
								</li>
							</ul>
						</div>
					</div>

				</div>

				<div class="card-footer">
					<div class="card-footer row">
						<div class="col-sm-12 col-lg-4 col-md-6 offset-lg-8 offset-md-6 ">
							<a class="btn btn-success form-control" asp-controller="Transaction" asp-action="Detail"  asp-route-TranslId=@Model.TransactionId>Submit</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>

@*<div class="card col-4" style="width: 20rem; ">
	<a href="@Model.ChanelUrl" method="get"><img src=/Pic/YoutubLogo.jpg alt="Youtubers" width="180" height="180" /> </a>
	<div class="card-body">
		<h5 class="card-title mt-1">@Model.ChanelName</h5>
		<p class="mb-0">Subscribers: @Model.Subscribers</p>
		<p class="mb-0">Price per clip: @Model.PricePerClip <i class="bi bi-currency-dollar"></i></p>
	</div>
</div>

<div class="card col-4" style="width: 20rem; ">
	<img class="card-img-top" style="width: 10rem;"
		 src="@Model.CompanyUrl" alt="CompanyUrl">
	<div class="card-body">
		<h5 class="card-title mt-1">@Model.CompanyName</h5>
		<p class="mb-0">Product name: @Model.Product</p>
		<p class="mb-0">Budget: @Model.CompanyBudget <i class="bi bi-currency-dollar"></i></p>
	</div>
</div>

<div class="w-75 btn-group" role="group">
	<a class="btn btn-primary text-muted" asp-controller="Transaction" asp-action="Find"><i class="bi bi-youtube"></i> Sponsor</a>
</div>
<div class="w-75 btn-group" role="group">
	<a class="btn btn-primary text-muted" asp-controller="Transaction" asp-action="Find" asp-route-ChanelId=@Model.ChanelId asp-route-SponsorId=@Model.SponsorId>Go back</a>
</div>*@
