@model TransactionViewModel


<div class="card col-4" style="width: 20rem; ">
	<a href="@Model.ChanelUrl" method="get"><img src=/Pic/YoutubLogo.jpg alt="Youtubers" width="180" height="180" /> </a>
	<div class="card-body">
		<h5 class="card-title mt-1">@Model.ChanelName</h5>
		<p class="mb-0">Subscribers: @Model.Subscribers</p>
		<p class="mb-0">Price per clip: @Model.PricePerClip <i class="bi bi-currency-dollar"></i></p>
	</div>
</div>

<div class="card col-4" style="width: 20rem; ">
	<img class="card-img-top" style="width: 10rem;"
		 src="@Model.CompanyUrl" alt="CompanyUrl">
	<div class="card-body">
		<h5 class="card-title mt-1">@Model.CompanyName</h5>
		<p class="mb-0">Product name: @Model.Product</p>
		<p class="mb-0">Budget: @Model.CompanyBudget <i class="bi bi-currency-dollar"></i></p>
	</div>
</div>

<div class="w-75 btn-group" role="group">
	<a class="btn btn-primary text-muted" asp-controller="Transaction" asp-action="Find"><i class="bi bi-youtube"></i> Sponsor</a>
</div>
<div class="w-75 btn-group" role="group">
	<a class="btn btn-primary text-muted" asp-controller="Transaction" asp-action="Find" asp-route-ChanelId=@Model.ChanelId asp-route-SponsorId=@Model.SponsorId>Go back</a>
</div>
